body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F4EF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swal-text{
  text-align: center;
}

.inputs {
  height: 10vh;
  margin: 10px 5px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px #E0E0DB;
  display: flex;
}
